<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jacquette.com.homeautomationdemo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DeviceListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeviceDetailActivity"
            android:label="@string/title_device_detail"
            android:parentActivityName=".DeviceListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DeviceListActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <!-- The activity that handles NFC intents -->
        <activity
            android:name=".NfcDiscovered"
            android:label="@string/title_nfc_activity" >

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="had"
                    android:host="binary"
                    android:pathPrefix="/4/on" />
                <data android:scheme="had"
                    android:host="binary"
                    android:pathPrefix="/4/off" />
            </intent-filter>

        </activity>
    </application>

</manifest>
